<div class='card' *ngIf='formData'>
  <div class='card-header'>
    {{pageTitle + ': '}} <strong> {{formData.subscriptionName}} </strong>
  </div>

  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class='card-body'>
      <input type="hidden" name="seqId" #seqId="ngModel" [(ngModel)]="formData.seqId">
      <div class="form-group">
        <label>Name</label>
        <input name="subscriptionName" #subscriptionName="ngModel" [(ngModel)]="formData.subscriptionName" class="form-control" required>
        <div class="validation-error" *ngIf="subscriptionName.invalid && subscriptionName.touched">This field is required.</div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Begin Date</label>
          <input name="subscriptionBeginDate" #subscriptionBeginDate="ngModel" [(ngModel)]="formData.subscriptionBeginDate" class="form-control" required>
          <div class="validation-error" *ngIf="subscriptionBeginDate.invalid && subscriptionBeginDate.touched">This field is required.</div>
        </div>
        <div class="form-group  col-md-6">
          <label>End Date</label>
          <input name="subscriptionEndDate" #subscriptionEndDate="ngModel" [(ngModel)]="formData.subscriptionEndDate" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>Status</label>
        <input name="subscriptionStatus" #subscriptionStatus="ngModel" [(ngModel)]="formData.subscriptionStatus" class="form-control" required>
        <div class="validation-error" *ngIf="subscriptionStatus.invalid && subscriptionStatus.touched">This field is required.</div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>File Transfer Method</label>
          <input name="fileTransferMethod" #fileTransferMethod="ngModel" [(ngModel)]="formData.fileTransferMethod" class="form-control" required>
          <div class="validation-error" *ngIf="fileTransferMethod.invalid && fileTransferMethod.touched">This field is required.</div>
        </div>
        <div class="form-group  col-md-6">
          <label>File Transfer Id</label>
          <input name="fileTransferId" #fileTransferId="ngModel" [(ngModel)]="formData.fileTransferId" class="form-control" required>
          <div class="validation-error" *ngIf="fileTransferId.invalid && fileTransferId.touched">This field is required.</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>File Transfer Directory</label>
          <input name="fileTransferDirectory" #fileTransferDirectory="ngModel" [(ngModel)]="formData.fileTransferDirectory" class="form-control" required>
          <div class="validation-error" *ngIf="fileTransferDirectory.invalid && fileTransferDirectory.touched">This field is required.</div>
        </div>
        <div class="form-group  col-md-6">
          <label>Status</label>
          <input name="subscriptionStatus" #subscriptionStatus="ngModel" [(ngModel)]="formData.subscriptionStatus" class="form-control" required>
          <div class="validation-error" *ngIf="subscriptionStatus.invalid && subscriptionStatus.touched">This field is required.</div>
        </div>
      </div>

    </div>

    <div class='card-footer'>
      <div class="form-group align-items-center" style="margin-top: 5pt; margin-bottom: 5pt">
        <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'><i class='fa fa-chevron-left'></i> Back</button>&nbsp;
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary" style='width:100px'>Submit</button>
      </div>
    </div>
  </form>
</div>