<div class='card'>
    <div class='card-header'>
        <div class='row'>
            <div class='col-md-9'>
              {{pageTitle}}
            </div>    
            <div class='col-md-3'>
                    <button class='btn btn-secondary' (click)='addConfiguration()'
                    style='width:180px'>
              <i class='fa'></i>Add Configuration 
            </button>
        </div>    
        </div>    
    </div>
    <div class='table-responsive'>
        <table class='table'
               *ngIf='docusignConfigurations && docusignConfigurations.length'>
            <thead>
                <tr>
                    <th>Subscriber Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let docusignConfiguration of docusignConfigurations'>
                    <td>
                        <a [routerLink]="['/viewConfiguration', docusignConfiguration.seqId]">
                            {{ docusignConfiguration.subscriptionName }}
                        </a>
                        <!-- <a [routerLink]="['/products', docusignConfiguration.seqId]">
                            {{ docusignConfiguration.subscriptionName }}
                        </a>  -->
                    </td>    
                    <td>{{ docusignConfiguration.subscriptionBeginDate }}</td>
                    <td>{{ docusignConfiguration.subscriptionEndDate }}</td>
                    <td>{{ docusignConfiguration.subscriptionStatus }}</td>
                    <td style="padding-left: 20px;"><button (click)="onDelete(docusignConfiguration.seqId)" class="btn btn-sm btn-outline-danger">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>